In [1]:
import pandas as pd
df = pd.DataFrame({
    "bid_id" : [1,2,3],
    "bidder_id" : ["Gadi", "Conda", "Lion"],
    "city" : ["Seoul", "LA", "Sydney"],
    "item" : ["TV", "jewelry", "book"]
}).set_index("bid_id")
df

       bidder_id    city     item
bid_id
1           Gadi   Seoul       TV
2          Conda      LA  jewelry
3           Lion  Sydney     book

In [2]:
df.iloc[0] #첫번째 행 접근

bidder_id     Gadi
city         Seoul
item            TV
Name: 1, dtype: object

In [5]:
df.iloc[:,0] #첫번째 열 접근

bid_id
1     Gadi
2    Conda
3     Lion
Name: bidder_id, dtype: object

In [8]:
df.loc[1] # 1은 레이블 이름이므로 인덱스 변화와 구분된다.

bidder_id     Gadi
city         Seoul
item            TV
Name: 1, dtype: object

In [9]:
df.loc[:,'city'] # city 열 접근

bid_id
1     Seoul
2        LA
3    Sydney
Name: city, dtype: object