In [1]:
print('안녕하세요')

안녕하세요

In [2]:
plint(3)

NameError: name 'plint' is not defined

In [3]:
print(3.5)

3.5

In [4]:
3.5

3.5

In [5]:
print(True)

True

In [6]:
pi = 3.14
r = 2
print(r*r*pi)

12.56

In [7]:
import math
r=2
print(math.pi*r*r)

12.566370614359172

In [8]:
a = 3
b = 3.5
c = True

In [9]:
print(a)

3

In [10]:
print(b)

3.5

In [11]:
print(c)

True

In [12]:
print(a+b)

6.5

In [13]:
print(a - b)

-0.5

In [14]:
print(a*b)

10.5

In [15]:
print(a/b)

0.8571428571428571

In [16]:
pring(a//b)

NameError: name 'pring' is not defined

In [17]:
print(a//b)

0.0

In [18]:
two = 0b11
print(two)

3

In [19]:
a = 0o11
print(a)

9

In [20]:
a = 0x11
print(a)

17

In [21]:
age = 21 #각 내용을 ,(콤마)로 연결
print('나이',age)

나이 21

In [23]:
name = '홍길동'
print('나는', name, '입니다')

나는 홍길동 입니다

In [24]:
a = 3
b = 3.5
print(a, '*', b, '=', a*b)

3 * 3.5 = 10.5

In [25]:
print('%d' % 3) #[C언어] print('%d',3); 명령문과 동일

3

In [26]:
print('%f' % 3.5)

3.500000

In [27]:
name = input()

룰루랄랄

In [28]:
name = input('이름: ')

이름: 이룰루

In [29]:
print(name)

이룰루

In [30]:
age = input('나이: ')

나이: 30

In [31]:
print(age)

30

In [32]:
after = input('몇 년 후? ')

몇 년 후? 3

In [33]:
print(age + after)

303

In [34]:
age = input('나이: ')

나이: 30

In [35]:
after = input('몇 년 후? ')

몇 년 후? 10

In [36]:
print(int(age) + int(after))

40

In [38]:
print('나이 : ' + (str(21))

SyntaxError: unexpected EOF while parsing (2263428628.py, line 1)

In [39]:
print('나이 : ' + str(21))

나이 : 21

In [40]:
age = input('나이: ')

나이: 21

In [41]:
print(int(age) + 10)

31

In [42]:
old = age + 10
print(old)

TypeError: can only concatenate str (not "int") to str

In [43]:
old = (int)age + 10
print(old)

SyntaxError: invalid syntax (2434514432.py, line 1)

In [44]:
old = int(age) + 10
print(old)

31

In [45]:
age = int(age)
type(age)

int

In [46]:
old = int(age) + 10
print(old)

31

In [47]:
old = age + 10
print(old)

31

In [48]:
height = input('키 : ')

키 : 175.2

In [49]:
type(height
    )

str

In [50]:
print(float(height)+1.5, 'cm')

176.7 cm

In [52]:
num = 5.5
print(int(num))

5

In [53]:
a = '5'
print(int(a))

5

In [54]:
b = '5.5'
print(float(b))

5.5

In [1]:
print(int(input())*3)

5
15